node-red-flow/userImportFlow.json
[
  {
    "id": "f7d221d7272d861c",
    "type": "tab",
    "label": "Flow 2",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "a0f890efcf762b73",
    "type": "inject",
    "z": "f7d221d7272d861c",
    "name": "manul read",
    "props": [
      {
        "p": "filename",
        "v": "/home/radvanyi/Documents/software4production/users.json",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 300,
    "y": 340,
    "wires": [
      [
        "a1b5393345edf175"
      ]
    ]
  },
  {
    "id": "a1b5393345edf175",
    "type": "file in",
    "z": "f7d221d7272d861c",
    "name": "",
    "filename": "read JSON file",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "ascii",
    "allProps": false,
    "x": 540,
    "y": 360,
    "wires": [
      [
        "05177ba0b44b3e9b",
        "197b828b2b87864a"
      ]
    ]
  },
  {
    "id": "05177ba0b44b3e9b",
    "type": "debug",
    "z": "f7d221d7272d861c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 750,
    "y": 320,
    "wires": []
  },
  {
    "id": "5364dd42ca64394e",
    "type": "debug",
    "z": "f7d221d7272d861c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1530,
    "y": 260,
    "wires": []
  },
  {
    "id": "f3e0aacc48b32381",
    "type": "http request",
    "z": "f7d221d7272d861c",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "body",
    "url": "http://127.0.0.1:8081",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 1290,
    "y": 360,
    "wires": [
      [
        "5364dd42ca64394e",
        "2afbae943b3bc8f4"
      ]
    ]
  },
  {
    "id": "9106d487bfe3ce9d",
    "type": "debug",
    "z": "f7d221d7272d861c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 320,
    "wires": []
  },
  {
    "id": "1de8862a7ef84867",
    "type": "inject",
    "z": "f7d221d7272d861c",
    "name": "read every 5s",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "15",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 320,
    "y": 380,
    "wires": [
      []
    ]
  },
  {
    "id": "197b828b2b87864a",
    "type": "switch",
    "z": "f7d221d7272d861c",
    "name": "Check if file si not empty",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 810,
    "y": 360,
    "wires": [
      [
        "e552f17f71f50175"
      ]
    ]
  },
  {
    "id": "996dd6d1086defc0",
    "type": "exec",
    "z": "f7d221d7272d861c",
    "command": "rm",
    "addpay": "payload",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 1630,
    "y": 360,
    "wires": [
      [
        "31247dfa34446859"
      ],
      [
        "19c68d2824b3d0e4"
      ],
      [
        "31f170119c56c368"
      ]
    ]
  },
  {
    "id": "c37dbfea263eb85d",
    "type": "inject",
    "z": "f7d221d7272d861c",
    "name": "",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "/home/radvanyi/Documents/software4production/users2.json",
    "payloadType": "str",
    "x": 1490,
    "y": 420,
    "wires": [
      [
        "996dd6d1086defc0"
      ]
    ]
  },
  {
    "id": "31247dfa34446859",
    "type": "debug",
    "z": "f7d221d7272d861c",
    "name": "Standard output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1800,
    "y": 320,
    "wires": []
  },
  {
    "id": "19c68d2824b3d0e4",
    "type": "debug",
    "z": "f7d221d7272d861c",
    "name": "Standard error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1800,
    "y": 360,
    "wires": []
  },
  {
    "id": "31f170119c56c368",
    "type": "debug",
    "z": "f7d221d7272d861c",
    "name": "Return code",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1790,
    "y": 400,
    "wires": []
  },
  {
    "id": "e552f17f71f50175",
    "type": "json",
    "z": "f7d221d7272d861c",
    "name": "convert file to JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 1060,
    "y": 360,
    "wires": [
      [
        "f3e0aacc48b32381",
        "9106d487bfe3ce9d"
      ]
    ]
  },
  {
    "id": "b89b1146757f4e86",
    "type": "http request",
    "z": "f7d221d7272d861c",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "https://277bc91c-c747-4b68-8af3-294547f9f3c4.mock.pstmn.io/asd",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 650,
    "y": 580,
    "wires": [
      [
        "214d92645783ad1b"
      ]
    ]
  },
  {
    "id": "1cb6372b666fa8e2",
    "type": "inject",
    "z": "f7d221d7272d861c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 480,
    "y": 580,
    "wires": [
      [
        "b89b1146757f4e86"
      ]
    ]
  },
  {
    "id": "214d92645783ad1b",
    "type": "debug",
    "z": "f7d221d7272d861c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 810,
    "y": 580,
    "wires": []
  },
  {
    "id": "2afbae943b3bc8f4",
    "type": "switch",
    "z": "f7d221d7272d861c",
    "name": "",
    "property": "statusCode",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "200",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1470,
    "y": 360,
    "wires": [
      [
        "996dd6d1086defc0"
      ]
    ]
  }
]